.container{
	background-color: orange;
	height:98vh;
	display: flex;
}
#quote-box{
	background-color: white;
	height:30vh;
	width:30vw;
	display:flex;
	margin:auto;
	flex-direction: column;
}
#quote-content{
	padding:0.5em;
	font-family:Arial;
}
#quote-author{
	font-family: cursive;
	padding:0.5em;
}
button{
	width:5em;
	height:20px;
	align-self: flex-end;
	margin-right: 3em;
}